{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": "3.6.5"
            }
        ],
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],

    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        [
            "module-resolver",
            {
                "root": ["."],
                "alias": {
                    "@State": "./src/config/redux/State",
                    "@app": "./src/app",

                    "@api": "./src/api",
                    "@config": "./src/config",
                    "@models": "./src/models",
                    "@selectors": "./src/utils/redux/selectors",
                    "@shared": "./src/shared",
                    "@utils": "./src/utils"
                }
            }
        ]
    ]
}
